@use "./mixins" as *;

:root {
  color-scheme: dark;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #000211;
  color: #fff;
  background-image: url("../assets/bg_small.png");
  background-position: center -100px;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Poppins;
  word-wrap: break-word;
  background-size: 1440px auto;
}

//@supports not (background-image: url("../assets/bg_small.webp")) {
//  body {
//    background-size: 1440px auto;
//    background-image: url("../assets/bg_small.png");
//  }
//}

@include pc-large-screen {
  body {
    background-size: 1920px auto;
    background-position: center -130px;
    background-image: url("../assets/bg_lg.png");
  }
  //@supports not (background-image: url("../assets/bg_lg.webp")) {
  //  body {
  //    background-size: 1920px auto;
  //    background-image: url("../assets/bg_lg.png");
  //  }
  //}
}

@include pc-small-screen {
  body {
    background-size: 1200px auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

* {
  box-sizing: border-box;
}
