@use "../../styles/mixins" as *;

.root {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
  color: rgba(142, 150, 169, 1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0002111a;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
}

.inner {
  width: 100%;
  display: flex;
  //display: grid;
  //grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 64px;

  @include pc-large-screen {
    max-width: 1400px;
    margin: 0 auto;
  }

  @include pc-small-screen {
    max-width: 1200px;
    margin: 0 auto;
  }

  @include pc-extra-small-screen {
    max-width: 1200px;
    margin: 0 auto;
  }

  @include mobile-only {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.headerLeft {
  position: absolute;
  left: 0;
}

.left {
  justify-self: start;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logoLink {
  display: inline-flex;
  align-items: center;
}

.logoImage {
  width: auto;
  height: 30px;
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.02);
  height: 40px;
  box-sizing: border-box;
  width: 508px;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.navListItem {
  margin: 0;
}

.navItemWrapper {
  display: inline-block;
}

.navButton {
  font-size: 14px;
  font-weight: 500;
  color: rgba(142, 150, 169, 1);
  background: none;
  border: none;
  //padding: 0 16px;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  border-radius: 50px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &.active {
    color: #fff;
  }
}
.navItemActive .navButton {
  color: #fff;
}
.navItemActive .dropdownArrow {
  opacity: 1;
  filter: brightness(0) invert(1);
}

.actions {
  display: flex;
  align-items: center;
}

.getStartedButton {
  cursor: pointer;
  background: url("../../assets/top_start_bg.svg") no-repeat center center;
  width: 130px;
  height: 34px;
  border: none;
  line-height: 34px;
  text-align: center;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  &:hover {
    background: url("../../assets/top_start_bg_hover.svg") no-repeat center center;
  }
}

.dropdownArrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 7px;
  transition:
    transform 0.2s,
    filter 0.2s;
  opacity: 0.7;
  flex-shrink: 0;
}

.arrowUp {
  transform: rotate(180deg);
}

.navButton:hover .dropdownArrow {
  opacity: 1;
  filter: brightness(0) invert(1);
}
