.link {
  color: rgba(51, 100, 255, 1);
  text-decoration: none;
  transition: color 0.2s ease;
  
  &:hover {
    color: rgba(91, 130, 255, 1);
  }
}

.underline {
  text-decoration: underline;
  
  &:hover {
    text-decoration: underline;
  }
}
